<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLING -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Budgtr</title>
</head>

<body>
    <!-- Main page - works like index.html  -->
    <div class="container">
        <h1> Budgtr</h1>

        <table>
                <% for (let i = 0; i < budgets.length; i++) { %>
                    <a href="/budgets/ <%= i %>">
                        <!-- turn budget into a link with anchor tag -->
                        <p><%= budgets[i].date + ' ' + budgets[i].name + ' ' + budgets[i].amount %></p>
                        <hr>
                    </a>
                <% } %>
            <!-- Button  -->
            <a href="/budgets/new"> <button>Create new Budgtr</button></a>
        </table>

    </div>


</body>

</html>