<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>New Page</title>
</head>
<body>
    <div class="container">

        <h1>Add a New Budgtr</h1>

        <!-- create new item to add to budgets obj  -->
        <form action="/budgets" method="POST">
            <input type="date" name="date" placeholder="Enter a Date"><br>
            <input type="text" name="name" placeholder="Enter a Name"><br>
            <input type="number" name="amount" placeholder="Pick a number"><br>
            <input type="text" name="from" placeholder="Waiting for text..."><br>
            <input type="submit" value="submit">
        </form>
    </div>

</body>
</html>